<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'messages/stylesheet.css' %}">

</head>
<body>

  <nav>
    <!-- no tuve tiempo de hacer el NavBar (aclaro en la entrega) -->
  </nav>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  {% include 'messages/messages.html' %}

</body>
</html>
